@media(max-width: 767px){
    .top-cart{
        &__cart{
            font-size: 48px;
            font-weight: 600;
            line-height: 59px;
            text-align: center;
            padding-top: 82px;
        }
    }
    .cart{
        &__heading{
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
        &__description{
            width: 253px;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }
        &__price{
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
        }
        &__link{
            font-size: 14px;
            font-weight: 400;
            line-height: 210%;
        }
        &__text-box{
            display: none;
        }
        &__img{
            display: none;
        }
        &__button{
            max-width: 166px;
            max-height: 37px;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
           
        }
        &__placing{
            max-width: 343px;
        }
    }
    
}